
.vs/Pickpoint.RMQ.MassTransit/v17/.suo
*.dll
Pickpoint.RMQ.Consumer/bin/Debug/net6.0/appsettings.Development.json
Pickpoint.RMQ.Consumer/bin/Debug/net6.0/appsettings.json
Pickpoint.RMQ.Consumer/bin/Debug/net6.0/Pickpoint.RMQ.Consumer.deps.json
Pickpoint.RMQ.Consumer/bin/Debug/net6.0/Pickpoint.RMQ.Consumer.exe
Pickpoint.RMQ.Consumer/bin/Debug/net6.0/Pickpoint.RMQ.Consumer.pdb
Pickpoint.RMQ.Consumer/bin/Debug/net6.0/Pickpoint.RMQ.Consumer.runtimeconfig.json
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/apphost.exe
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/Pickpoint.RMQ.Consumer.AssemblyInfo.cs
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/Pickpoint.RMQ.Consumer.AssemblyInfoInputs.cache
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/Pickpoint.RMQ.Consumer.assets.cache
*.cache
*.CopyComplete
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/Pickpoint.RMQ.Consumer.csproj.FileListAbsolute.txt
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/Pickpoint.RMQ.Consumer.GeneratedMSBuildEditorConfig.editorconfig
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/Pickpoint.RMQ.Consumer.GlobalUsings.g.cs
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/Pickpoint.RMQ.Consumer.pdb
Pickpoint.RMQ.Consumer/obj/Debug/net6.0/staticwebassets.build.json
Pickpoint.RMQ.Consumer/obj/Pickpoint.RMQ.Consumer.csproj.nuget.dgspec.json
Pickpoint.RMQ.Consumer/obj/Pickpoint.RMQ.Consumer.csproj.nuget.g.props
Pickpoint.RMQ.Consumer/obj/Pickpoint.RMQ.Consumer.csproj.nuget.g.targets
Pickpoint.RMQ.Consumer/obj/project.assets.json
Pickpoint.RMQ.Consumer/obj/staticwebassets.pack.sentinel
Pickpoint.RMQ.Publisher/bin/Debug/net6.0/appsettings.Development.json
Pickpoint.RMQ.Publisher/bin/Debug/net6.0/appsettings.json
Pickpoint.RMQ.Publisher/bin/Debug/net6.0/Pickpoint.RMQ.Publisher.deps.json
Pickpoint.RMQ.Publisher/bin/Debug/net6.0/Pickpoint.RMQ.Publisher.exe
Pickpoint.RMQ.Publisher/bin/Debug/net6.0/Pickpoint.RMQ.Publisher.pdb
Pickpoint.RMQ.Publisher/bin/Debug/net6.0/Pickpoint.RMQ.Publisher.runtimeconfig.json
Pickpoint.RMQ.Publisher/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Pickpoint.RMQ.Publisher/obj/Debug/net6.0/apphost.exe
Pickpoint.RMQ.Publisher/obj/Debug/net6.0/Pickpoint.RMQ.Publisher.AssemblyInfo.cs
Pickpoint.RMQ.Publisher/obj/Debug/net6.0/Pickpoint.RMQ.Publisher.csproj.FileListAbsolute.txt
Pickpoint.RMQ.Publisher/obj/Debug/net6.0/Pickpoint.RMQ.Publisher.GeneratedMSBuildEditorConfig.editorconfig
Pickpoint.RMQ.Publisher/obj/Debug/net6.0/Pickpoint.RMQ.Publisher.GlobalUsings.g.cs
Pickpoint.RMQ.Publisher/obj/Debug/net6.0/Pickpoint.RMQ.Publisher.pdb
Pickpoint.RMQ.Publisher/obj/Debug/net6.0/staticwebassets.build.json
Pickpoint.RMQ.Publisher/obj/Pickpoint.RMQ.Publisher.csproj.nuget.dgspec.json
Pickpoint.RMQ.Publisher/obj/Pickpoint.RMQ.Publisher.csproj.nuget.g.props
Pickpoint.RMQ.Publisher/obj/Pickpoint.RMQ.Publisher.csproj.nuget.g.targets
Pickpoint.RMQ.Publisher/obj/project.assets.json
Pickpoint.RMQ.Publisher/obj/staticwebassets.pack.sentinel
